[submodule "oskr1087/l10n-ec-oskr"]
	path = oskr1087/l10n-ec-oskr
	url = git@github.com:oskr1087/l10n-ec-oskr.git
	branch = 16.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 16.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 16.0
